html {
  font-size: 10px;
}
#timer {
  position: absolute;
  left: 40%;
  top: 25%;
  z-index: 4;
}
.race-track {
  display: none;
}
.timer-image {
  width: 20rem;
  height: 20rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-container {
  display: flex;
  flex-direction: row-reverse;
}
.fish {
  width: fit-content;
  display: block;
  margin-top: 3rem;
}
.fish-container {
  position: absolute;
  top: 0;
}
.aquarium {
  position: relative;
}
.finish-line {
  position: absolute;
  top: 0;
  right: 4rem;
}
.crown {
  position: absolute;
  right: 1rem;
  z-index: 2;
  transform: rotate(30deg);
}
.fish-img {
  width: 20rem;
}
.play-again {
  border-radius: 50%;
  font-size: 2rem;
  width: 15rem;
  height: 15rem;
  display: block;
  margin: 0 auto;
  background-color: #001f3f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
