html {
  font-size: 10px;
  height: 100vh;
}

#timer {
  margin-top: 30rem;
}

.race-track {
  display: none;
  width: 60vw;
  height: 50%;
}

.timer-image {
  width: 20rem;
  height: 20rem;
}
body {
  min-height: 100%;
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: inherit;
}
.flag-container {
  display: flex;
  flex-direction: row-reverse;
}
.fish {
  display: block;
  position: relative;
  z-index: 4;
  margin-top: 5%;
  margin-bottom: 7%;
  width: 15%;
}

.king {
  position: absolute;
  left: 40%;
  top: 33%;
}

.start-game-container {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 10%;
}
#start-game {
  width: 100%;
  font-size: 2rem;
  padding: 2rem;
  height: 10%;
  border-radius: 5%;
  border: none;
  background-color: lightcoral;
  color: #001f3f;
}

.aquarium {
  display: flex;
  background-image: url("./assets/frame_1.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}
.aquarium-content {
  width: inherit;
}
.aquarium-content:first-child {
  width: inherit;
}
.finish-line-image {
  height: 100%;
}

.crown {
  position: absolute;
  right: 1rem;
  z-index: 2;
  transform: rotate(30deg);
}

.king {
  text-align: center;
  width: 20%;
  top: 10%;
}
.king-header {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gold;
}

.fish-img {
  width: 100%;
}
.play-again {
  border-radius: 50%;
  font-size: 2rem;
  width: 15rem;
  height: 15rem;
  display: block;
  margin: 0 auto;
  background-color: #001f3f;
  color: white;
  cursor: pointer;
}

.aquarium-content {
  display: flex;
}

.voting-section {
  width: 80%;
  background-color: lightgray;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  align-items: center;
}
.fish-section {
  width: 15%;
}
.contestant-image {
  width: 100%;
  cursor: pointer;
}
.score-p {
  font-size: 2rem;
}
.voted {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

/* Add classes for breakpoints so i do not repeat the select media query */

@media screen and (max-width: 1400px) {
  .fish {
    margin-bottom: 9%;
  }
}

@media screen and (max-width: 1100px) {
  .fish {
    margin-bottom: 20%;
    margin-top: 15%;
  }
  .king {
    left: 40%;
    top: 20%;
  }
}

@media screen and (max-width: 800px) {
  .fish {
    margin-bottom: 15%;
    width: 50%;
  }
  .start-game-container {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .fish {
    margin-bottom: 13%;
  }
  .race-track {
    width: 80vw;
  }
  .king-header {
    font-size: 3rem;
  }
  .play-again {
    width: 10rem;
    height: 10rem;
    font-size: 1rem;
  }
  .fish-img {
    width: 10rem;
    margin-top: 3.5rem;
  }
  .flag {
    width: 20%;
  }
  .finish-line-image {
    width: 70%;
  }
  #timer {
    margin-top: 10rem;
  }
  .crown {
    left: 6rem;
    bottom: 4rem;
  }
}
@media (max-width: 1100px) and (orientation: landscape) {
  html {
    height: 100%;
  }
  body {
    height: inherit;
    display: flex;
  }
  .body {
    height: inherit;
  }
  #timer {
    margin-top: 0;
  }
  .fish {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .aquarium {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .king {
    width: 10%;
    left: 26%;
    top: 10%;
  }
  .king-header {
    font-size: 3rem;
  }
  .crown {
    top: 15rem;
    width: 30%;
  }
  .flag {
    width: 10%;
  }
  .play-again {
    width: 7rem;
    height: 7rem;
    font-size: 1rem;
  }
  .voting-section {
    flex-direction: column;
    width: 20%;
    height: 70%;
  }
  .fish-section {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .contestant-image {
    width: 50%;
  }
  #timer {
    margin-left: 20rem;
    margin-top: 6rem;
  }
  .start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .fish {
    margin-top: 0;
    margin-bottom: 2%;
  }
  .start-game-container {
    width: 20%;
  }
  #start-game {
    text-align: center;
    height: 30%;
  }
}
